{% extends "layout.html" %}
{% block bodycontent %}
  {% if message %}
    <textarea style="color:red"> {{ message }}</textarea>
  {% endif %}
<form action = '/perform_registration' method="post">
  <label> Name </label> <br>
  <input type="text" name = "user_name" required><br>
  <label> Email</label><br>
  <input type="email" name = "user_email" required><br>
  <label> Password </label><br>
  <input type="password" name = "user_password" required><br><br>
  <input type="submit" value="Register"><br>
</form>

<p>Already a member ? <a href="/"><b>Login Here</b></a> </p>
{% endblock bodycontent %}